@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">C.S.U</h2>
    <h3 class="display-4">Cadastro de Saúde Unificado</h3>
    <img src="images/index.jpg" alt="Overwatch Mercy: Need Healing!"/>
</div>